* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: lightblue;
    text-align: center;

}

/* .header {
    height: 50vh;
} */
footer{
    background-color: black;
    color: aliceblue;
    height: 5vh;
}